updated_workflow.json
{"name":"Sync Catálogo B → Qdrant (elementos_catalogo_b)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"sync-catalogo-b","responseMode":"responseNode","options":{}},"id":"e3dcba30-c0f8-4638-a872-556d280af45a","name":"Webhook Sync B","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"sync-catalogo-b-v1"},{"parameters":{"operation":"createCollection","collectionName":"elementos_catalogo_b","vectors":"{\"size\": 1536, \"distance\": \"Cosine\"}","shardNumber":1,"replicationFactor":1,"writeConsistencyFactor":1,"requestOptions":{}},"id":"65ff58c1-e5d8-4e5b-8f04-9d66b7e27be8","name":"Crear Colección B","type":"n8n-nodes-qdrant.qdrant","typeVersion":1,"position":[224,0],"credentials":{"qdrantRestApi":{"id":"YE1Kgy7tOBsjsUq7","name":"Qdrant account"}},"onError":"continueRegularOutput","notes":"onError continueRegularOutput → no falla si la colección ya existe"},{"parameters":{"url":"=https://iqrwhycmgprkfbhuxlnn.supabase.co/rest/v1/catalogo_elementos","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"select","value":"id,codigo_sku,nombre_elemento,id_categoria_matriz,descripcion_comercial,ancho_estandar_mm,fondo_estandar_mm,alto_estandar_mm,unidad_medida_bloque,precio_venta_unidad,imagen_referencia_url"},{"name":"estado_elemento","value":"eq.true"},{"name":"id_empresa","value":"=eq.{{ $('Webhook Sync B').item.json.body.id_empresa }}"},{"name":"order","value":"nombre_elemento.asc"}]},"options":{}},"id":"7f2ce517-bbbb-45c7-b08c-1982d89a02d1","name":"Supabase GET Catálogo B","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0],"credentials":{"supabaseApi":{"id":"av5OrE4cZ9VGfbFz","name":"Supabase Stands"}}},{"parameters":{"jsCode":"const items = $input.all();\nif (items.length === 0) {\n  throw new Error('No hay elementos activos en catálogo B para sincronizar');\n}\nconsole.log('Elementos a sincronizar:', items.length);\nreturn items;"},"id":"88c79493-8dd2-4255-9b37-fc851be830c7","name":"Split Elementos","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0]},{"parameters":{"options":{}},"id":"b6f63e10-8fc6-4f4a-bfe3-e5086326a0a3","name":"Loop Elementos","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[880,0]},{"parameters":{"jsCode":"const item = $input.first().json;\n\n// Construir el texto que se va a vectorizar\n// Combina nombre + descripción para máxima cobertura semántica\nconst textoVectorizar = [\n  item.nombre_elemento,\n  item.descripcion_comercial,\n  item.unidad_medida_bloque ? `Unidad: ${item.unidad_medida_bloque}` : '',\n  item.precio_venta_unidad ? `Precio: ${item.precio_venta_unidad}€` : ''\n].filter(Boolean).join('. ');\n\nreturn [{ json: { ...item, texto_a_vectorizar: textoVectorizar } }];"},"id":"e3c4a01f-a9bc-4bda-8fd0-688de999398b","name":"Construir Texto Embed","type":"n8n-nodes-base.code","typeVersion":2,"position":[928,208]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'text-embedding-3-small', input: $json.texto_a_vectorizar, dimensions: 1536 }) }}","options":{}},"id":"95b7e59f-4ea1-4001-a636-74985d7ae335","name":"OpenAI Embedding","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,208],"credentials":{"openAiApi":{"id":"KzFxOuQEjV23LyRC","name":"OpenAi account"}}},{"parameters":{"jsCode":"const embeddingResponse = $input.first().json;\nconst elemento = $('Construir Texto Embed').first().json;\n\nconst vector = embeddingResponse.data?.[0]?.embedding;\nif (!vector) throw new Error(`Error obteniendo embedding para: ${elemento.nombre_elemento}`);\n\n// Construir punto Qdrant con UUID de Supabase como ID\nconst punto = {\n  id: elemento.id,\n  vector: vector,\n  payload: {\n    id_supabase: elemento.id,\n    codigo_sku: elemento.codigo_sku || '',\n    nombre_elemento: elemento.nombre_elemento,\n    descripcion_comercial: elemento.descripcion_comercial,\n    id_categoria_matriz: elemento.id_categoria_matriz,\n    unidad_medida_bloque: elemento.unidad_medida_bloque,\n    precio_venta_unidad: parseFloat(elemento.precio_venta_unidad) || 0,\n    dimensiones_mm: {\n      ancho: elemento.ancho_estandar_mm || 0,\n      fondo: elemento.fondo_estandar_mm || 0,\n      alto: elemento.alto_estandar_mm || 0\n    },\n    imagen_url: elemento.imagen_referencia_url || '',\n    activo: true,\n    coleccion: 'elementos_catalogo_b',\n    fecha_indexacion: new Date().toISOString()\n  }\n};\n\nreturn [{ json: { punto, id_supabase: elemento.id, nombre: elemento.nombre_elemento } }];"},"id":"8b5364e4-cbe1-4bdf-bd6f-037cf924127a","name":"Construir Punto Qdrant","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,208]},{"parameters":{"method":"PUT","url":"https://qdrant.cheosdesign.info/collections/elementos_catalogo_b/points?wait=true","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ points: [$json.punto] }) }}","options":{}},"id":"56c93697-4cdc-494f-a8d0-cb248d9c8c05","name":"Qdrant Upsert B","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,208],"credentials":{"qdrantApi":{"id":"td8SN9eZP0Os48rh","name":"QdrantApi account"}}},{"parameters":{"method":"PATCH","url":"=https://iqrwhycmgprkfbhuxlnn.supabase.co/rest/v1/catalogo_elementos","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{$('Construir Punto Qdrant').first().json.id_supabase}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{$vars.SUPABASE_ANON_KEY}}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ indexado_qdrant: true, qdrant_point_id: $('Construir Punto Qdrant').first().json.id_supabase }) }}","options":{}},"id":"fe642a24-2657-47a7-a4d5-654d74c915a4","name":"Supabase PATCH indexado","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,208],"credentials":{"supabaseApi":{"id":"av5OrE4cZ9VGfbFz","name":"Supabase Stands"}}},{"parameters":{},"id":"0198f266-89a6-42a5-ac78-f9fbcc2b1de0","name":"Volver al Loop","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1984,208]},{"parameters":{"jsCode":"// Resumen final al terminar el loop\nconst total = $('Split Elementos').all().length;\nreturn [{\n  json: {\n    success: true,\n    coleccion: 'elementos_catalogo_b',\n    elementos_indexados: total,\n    mensaje: `Sincronización completada: ${total} elementos indexados en Qdrant`,\n    timestamp: new Date().toISOString()\n  }\n}];"},"id":"f7dfec66-5edb-4633-bacd-2a7ea8d033ea","name":"Resumen Final","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,-16]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"445adf5c-30ab-4c7b-8ad2-7b1764936152","name":"Respond Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1312,-16]}],"connections":{"Webhook Sync B":{"main":[[{"node":"Crear Colección B","type":"main","index":0}]]},"Crear Colección B":{"main":[[{"node":"Supabase GET Catálogo B","type":"main","index":0}]]},"Supabase GET Catálogo B":{"main":[[{"node":"Split Elementos","type":"main","index":0}]]},"Split Elementos":{"main":[[{"node":"Loop Elementos","type":"main","index":0}]]},"Loop Elementos":{"main":[[{"node":"Resumen Final","type":"main","index":0}],[{"node":"Construir Texto Embed","type":"main","index":0}]]},"Construir Texto Embed":{"main":[[{"node":"OpenAI Embedding","type":"main","index":0}]]},"OpenAI Embedding":{"main":[[{"node":"Construir Punto Qdrant","type":"main","index":0}]]},"Construir Punto Qdrant":{"main":[[{"node":"Qdrant Upsert B","type":"main","index":0}]]},"Qdrant Upsert B":{"main":[[{"node":"Supabase PATCH indexado","type":"main","index":0}]]},"Supabase PATCH indexado":{"main":[[{"node":"Volver al Loop","type":"main","index":0}]]},"Volver al Loop":{"main":[[{"node":"Loop Elementos","type":"main","index":0}]]},"Resumen Final":{"main":[[{"node":"Respond Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"nodeGroups":[],"sourceWorkflowId":null,"tags":[{"updatedAt":"2026-05-23T07:56:22.574Z","createdAt":"2026-05-23T07:56:22.574Z","id":"NrAyGBlxwyxBoAWX","name":"qdrant"},{"updatedAt":"2026-06-21T18:39:52.234Z","createdAt":"2026-06-21T18:39:52.234Z","id":"RxbsB3NN2gsT4FvG","name":"sync"},{"updatedAt":"2026-06-21T18:39:52.210Z","createdAt":"2026-06-21T18:39:52.210Z","id":"gZHLV24pQn4SoEsQ","name":"catalogo-b"}]}