flujosn8n/enviar_factura_cliente.json
{
  "name": "Enviar Factura al Cliente",
  "nodes": [
    {
      "parameters": {
        "path": "enviar-factura-cliente-v1",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.SUPABASE_URL || 'https://iqrwhycmgprkfbhuxlnn.supabase.co'}}/rest/v1/rpc/get_invoice_email_details",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.SUPABASE_ANON_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_factura_id",
              "value": "={{$json.body.id_factura}}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-supabase-details",
      "name": "Fetch Supabase Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "administracion@thetitan.com",
        "toEmail": "={{$json.client_email}}",
        "subject": "=Factura Emitida {{$json.invoice_number}} - {{$json.company_name}}",
        "html": "=<!DOCTYPE html>\n<html>\n<body style=\"font-family: 'Outfit', 'Inter', -apple-system, sans-serif; background-color: #ffffff; margin: 0; padding: 30px 10px;\">\n  <div style=\"max-width: 550px; margin: 0 auto; background-color: #09090b; border: 1px solid #27272a; padding: 40px 30px; border-radius: 12px; color: #fafafa;\">\n    <table style=\"border-collapse: collapse; margin-bottom: 25px;\">\n      <tr>\n        <td>\n          <div style=\"width: 36px; height: 36px; border-radius: 8px; background: linear-gradient(135deg, #6366f1, #a855f7); text-align: center; line-height: 36px; font-weight: 900; font-size: 16px; color: #ffffff;\">T</div>\n        </td>\n        <td style=\"padding-left: 12px;\">\n          <div style=\"font-weight: 800; font-size: 14px; color: #fafafa; line-height: 1.1;\">The Titan</div>\n          <div style=\"font-size: 9px; color: #818cf8; font-weight: 600; text-transform: uppercase; letter-spacing: 1px;\">Presustand</div>\n        </td>\n      </tr>\n    </table>\n    <h2 style=\"font-size: 20px; font-weight: 800; color: #fafafa; margin: 0 0 10px 0;\">Nueva Factura Emitida</h2>\n    <p style=\"font-size: 13px; color: #a1a1aa; line-height: 1.6; margin: 0 0 25px 0;\">Estimado/a cliente de <strong>{{ $json.company_name }}</strong>, le notificamos que se ha generado un nuevo cobro correspondiente a los servicios de diseño y construcción de stand ferial.</p>\n    <div style=\"background-color: #18181b; border: 1px solid #27272a; border-radius: 10px; padding: 20px; margin-bottom: 30px;\">\n      <table style=\"width: 100%; border-collapse: collapse; font-size: 13px; color: #fafafa;\">\n        <tr style=\"border-bottom: 1px solid #27272a;\">\n          <td style=\"padding: 12px 0; color: #71717a;\">Nº Factura:</td>\n          <td style=\"padding: 12px 0; text-align: right; font-family: monospace; font-weight: 700; color: #fafafa;\">{{ $json.invoice_number }}</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #27272a;\">\n          <td style=\"padding: 12px 0; color: #71717a;\">Feria / Proyecto:</td>\n          <td style=\"padding: 12px 0; text-align: right; color: #fafafa; font-weight: 600;\">{{ $json.fair_name }} ({{ $json.project_code }})</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #27272a;\">\n          <td style=\"padding: 12px 0; color: #71717a;\">Concepto:</td>\n          <td style=\"padding: 12px 0; text-align: right; color: #fafafa; font-weight: 600;\">{{ $json.invoice_type }} ({{ $json.invoice_percentage }}%)</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #27272a;\">\n          <td style=\"padding: 12px 0; color: #71717a;\">Base Imponible:</td>\n          <td style=\"padding: 12px 0; text-align: right; color: #fafafa;\">{{ $json.base_amount }} €</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #27272a;\">\n          <td style=\"padding: 12px 0; color: #71717a;\">IVA ({{ $json.iva_percentage }}%):</td>\n          <td style=\"padding: 12px 0; text-align: right; color: #fafafa;\">{{ $json.iva_amount }} €</td>\n        </tr>\n        <tr style=\"border-bottom: 1px solid #6366f1;\">\n          <td style=\"padding: 12px 0; font-weight: 700; font-size: 14px;\">Total Factura:</td>\n          <td style=\"padding: 12px 0; text-align: right; color: #818cf8; font-weight: bold; font-size: 16px;\">{{ $json.total_amount }} €</td>\n        </tr>\n        <tr>\n          <td style=\"padding: 12px 0; color: #f43f5e; font-weight: 700;\">Vencimiento:</td>\n          <td style=\"padding: 12px 0; text-align: right; color: #f43f5e; font-weight: 700;\">{{ $json.due_date }}</td>\n        </tr>\n      </table>\n    </div>\n    <div style=\"text-align: center; margin-bottom: 35px;\">\n      <a href=\"{{ $json.app_url }}/print/factura/{{ $json.invoice_id }}?autoprint=true\" target=\"_blank\" style=\"background: linear-gradient(135deg, #6366f1, #a855f7); color: #ffffff; padding: 12px 28px; text-decoration: none; border-radius: 8px; font-weight: 700; font-size: 13px; display: inline-block;\">Ver y Descargar Factura PDF</a>\n    </div>\n    <p style=\"font-size: 11px; color: #71717a; line-height: 1.5; margin: 0; padding-top: 15px; border-top: 1px solid #27272a;\">Este es un envío automático generado por <strong>The Titan Stands ERP</strong>. Si tiene dudas con el método de pago, IBAN o importes, por favor responda directamente a este correo o póngase en contacto con administración.</p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email-node",
      "name": "Send Email (SMTP)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "response-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        920,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Supabase Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Supabase Details": {
      "main": [
        [
          {
            "node": "Send Email (SMTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (SMTP)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
