flujosn8n/enviar_factura_cliente.json
{
  "name": "Enviar Factura al Cliente",
  "nodes": [
    {
      "parameters": {
        "path": "enviar-factura-cliente-v1",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.SUPABASE_URL || 'https://iqrwhycmgprkfbhuxlnn.supabase.co'}}/rest/v1/rpc/get_invoice_email_details",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.SUPABASE_ANON_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_factura_id",
              "value": "={{$json.body.id_factura}}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-supabase-details",
      "name": "Fetch Supabase Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "administracion@thetitan.com",
        "toEmail": "={{$json.client_email}}",
        "subject": "=Factura Emitida {{$json.invoice_number}} - {{$json.company_name}}",
        "html": "=<!DOCTYPE html>\n<html>\n<body style=\"font-family: Arial, sans-serif; background-color: #09090b; color: #fafafa; padding: 20px;\">\n  <div style=\"max-width: 600px; margin: 0 auto; background-color: #18181b; padding: 30px; border-radius: 12px; border: 1px border #27272a;\">\n    <h2 style=\"color: #6366f1; margin-top: 0;\">Nueva Factura Emitida</h2>\n    <p>Estimado/a cliente de <strong>{{$json.company_name}}</strong>,</p>\n    <p>Le notificamos que se ha emitido la factura <strong>{{$json.invoice_number}}</strong> correspondiente al proyecto <strong>{{$json.project_code}}</strong> para la feria <strong>{{$json.fair_name}}</strong>.</p>\n    \n    <table style=\"width: 100%; border-collapse: collapse; margin: 25px 0;\">\n      <tr style=\"border-bottom: 1px solid #27272a;\">\n        <td style=\"padding: 10px 0; color: #a1a1aa;\">Concepto:</td>\n        <td style=\"padding: 10px 0; text-align: right; font-weight: bold;\">{{$json.invoice_type}} ({{$json.invoice_percentage}}%)</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #27272a;\">\n        <td style=\"padding: 10px 0; color: #a1a1aa;\">Base Imponible:</td>\n        <td style=\"padding: 10px 0; text-align: right;\">{{$json.base_amount}} €</td>\n      </tr>\n      <tr style=\"border-bottom: 1px solid #27272a;\">\n        <td style=\"padding: 10px 0; color: #a1a1aa;\">IVA ({{$json.iva_percentage}}%):</td>\n        <td style=\"padding: 10px 0; text-align: right;\">{{$json.iva_amount}} €</td>\n      </tr>\n      <tr style=\"border-bottom: 2px solid #6366f1;\">\n        <td style=\"padding: 10px 0; color: #fafafa; font-weight: bold;\">Total Factura:</td>\n        <td style=\"padding: 10px 0; text-align: right; color: #6366f1; font-weight: bold; font-size: 1.1em;\">{{$json.total_amount}} €</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px 0; color: #ef4444; font-weight: bold;\">Vencimiento:</td>\n        <td style=\"padding: 10px 0; text-align: right; color: #ef4444; font-weight: bold;\">{{$json.due_date}}</td>\n      </tr>\n    </table>\n\n    <div style=\"text-align: center; margin: 35px 0 10px 0;\">\n      <a href=\"{{$json.app_url || 'http://localhost:3000'}}/print/factura/{{$json.invoice_id}}?autoprint=true\" target=\"_blank\" style=\"background-color: #6366f1; color: white; padding: 12px 25px; text-decoration: none; border-radius: 6px; font-weight: bold; font-size: 14px;\">Descargar Factura PDF</a>\n    </div>\n    \n    <p style=\"font-size: 11px; color: #71717a; margin-top: 40px; border-t: 1px solid #27272a; padding-top: 15px;\">\n      Este es un envío automático generado por The Titan Stands ERP. Si tiene dudas con el método de pago o IBAN, por favor póngase en contacto con administración.\n    </p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email-node",
      "name": "Send Email (SMTP)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "response-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        920,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch Supabase Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Supabase Details": {
      "main": [
        [
          {
            "node": "Send Email (SMTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (SMTP)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
