flujosn8n/sync-catalogo-c-v2.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sync-catalogo-c-v1",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "dc8b3a26-4ca2-460f-8dfb-aa48d003bc00",
      "name": "Webhook Sync C",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-432, 640],
      "webhookId": "sync-catalogo-c-v1"
    },
    {
      "parameters": {
        "operation": "createCollection",
        "collectionName": "servicios_despiece_c",
        "vectors": "{\"size\": 1536, \"distance\": \"Cosine\"}",
        "shardNumber": 1,
        "replicationFactor": 1,
        "writeConsistencyFactor": 1,
        "requestOptions": {}
      },
      "id": "4a3155d7-5d9e-4eb3-b984-c832a6703d39",
      "name": "Crear Colección C",
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [-208, 640],
      "credentials": {
        "qdrantRestApi": {
          "id": "YE1Kgy7tOBsjsUq7",
          "name": "Qdrant account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://iqrwhycmgprkfbhuxlnn.supabase.co/rest/v1/tarifas_servicios",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "=id,id_empresa,nombre_tecnico,descripcion_compra,id_categoria_matriz,unidad_medida,precio_coste_unidad_medida,unidad_tiempo,precio_unidad_tiempo,aplica_coeficiente_desperdicio,coeficiente_desperdicio,requiere_homologacion_previa,incremento_urgencia_porcentaje"
            },
            {
              "name": "estado_tarifa",
              "value": "eq.activa"
            },
            {
              "name": "id_empresa",
              "value": "=eq.{{ $('Webhook Sync C').first().json.body?.id_empresa || $('Webhook Sync C').first().json.body?.record?.id_empresa || $('Webhook Sync C').first().json.body?.old_record?.id_empresa }}"
            },
            {
              "name": "order",
              "value": "=id_categoria_matriz.asc"
            },
            {
              "name": "limit",
              "value": "200"
            }
          ]
        },
        "options": {}
      },
      "id": "d9e6c87a-db3a-45f6-896f-6ea041a57daf",
      "name": "Supabase GET Catálogo C",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 640],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "av5OrE4cZ9VGfbFz",
          "name": "Supabase Stands"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener todos los ítems de entrada\nconst allItems = $input.all();\nlet data = [];\n\nif (allItems.length === 1) {\n  const firstItemJson = allItems[0].json;\n  if (Array.isArray(firstItemJson)) {\n    data = firstItemJson;\n  } else {\n    data = [firstItemJson];\n  }\n} else if (allItems.length > 1) {\n  data = allItems.map(item => item.json);\n}\n\n// Verificar si hay datos reales (no arrays vacíos ni objetos vacíos)\nconst hasRealData = data.length > 0 && !(data.length === 1 && Object.keys(data[0]).length === 0);\n\nreturn [{ json: { hasData: hasRealData, count: hasRealData ? data.length : 0 } }];"
      },
      "id": "f1a2b3c4-d5e6-7890-abcd-ef1234567890",
      "name": "IF Datos Vacíos C",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [192, 640]
    },
    {
      "parameters": {
        "jsCode": "// Obtener todos los ítems de entrada\nconst allItems = $input.all();\nlet data = [];\n\nif (allItems.length === 1) {\n  const firstItemJson = allItems[0].json;\n  if (Array.isArray(firstItemJson)) {\n    data = firstItemJson;\n  } else {\n    data = [firstItemJson];\n  }\n} else if (allItems.length > 1) {\n  data = allItems.map(item => item.json);\n}\n\n// Si no hay datos, retornar item vacío para cortar el flujo\nif (!data || data.length === 0 || (data.length === 1 && Object.keys(data[0]).length === 0)) {\n  return [{ json: { _isEmpty: true, _skipLoop: true } }];\n}\n\nconsole.log(`Tarifas a sincronizar: ${data.length}`);\nreturn data.map(item => ({ json: item }));"
      },
      "id": "5fe0312e-9091-4746-b23f-6d866124f61e",
      "name": "Split Tarifas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 740]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "26b8d4b7-d603-4364-8d0a-17b91a1100f4",
      "name": "Loop Tarifas",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [576, 740]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// Si el item es la señal de vacío, skip\nif (item._isEmpty || item._skipLoop) {\n  return [{ json: { _isEmpty: true, _skipLoop: true } }];\n}\n\n// Base C: texto más técnico que incluye dimensiones y unidades\nconst partes = [\n  item.nombre_tecnico,\n  item.descripcion_compra\n];\n\nif (item.medida_ancho_mm > 0 || item.medida_alto_mm > 0) {\n  partes.push(`Dimensiones: ${item.medida_ancho_mm}x${item.medida_fondo_mm}x${item.medida_alto_mm}mm`);\n}\n\nif (item.unidad_medida) {\n  partes.push(`Unidad de compra: ${item.unidad_medida}`);\n}\n\nif (item.precio_coste_unidad_medida > 0) {\n  partes.push(`Coste: ${item.precio_coste_unidad_medida}€/${item.unidad_medida}`);\n}\n\nif (item.aplica_coeficiente_desperdicio) {\n  partes.push(`Aplica coeficiente de merma: ${item.coeficiente_desperdicio}`);\n}\n\nif (item.requiere_homologacion_previa) {\n  partes.push('Requiere homologación CAE previa');\n}\n\nconst textoVectorizar = partes.filter(Boolean).join('. ');\n\nreturn [{ json: { ...item, texto_a_vectorizar: textoVectorizar } }];"
      },
      "id": "c4e391c0-18b0-406f-868d-f95b7f8f8472",
      "name": "Construir Texto Embed C",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [784, 848]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'text-embedding-3-small', input: $json.texto_a_vectorizar, dimensions: 1536 }) }}",
        "options": {}
      },
      "id": "fe6dfe21-f74b-4fc3-9e32-c015dd742e98",
      "name": "OpenAI Embedding C",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1008, 848],
      "credentials": {
        "openAiApi": {
          "id": "KzFxOuQEjV23LyRC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const embeddingResponse = $input.first().json;\nconst tarifa = $('Construir Texto Embed C').first().json;\n\n// Si es señal de vacío, skip\nif (tarifa._isEmpty || tarifa._skipLoop) {\n  return [{ json: { _isEmpty: true, _skipLoop: true } }];\n}\n\nconst vector = embeddingResponse.data?.[0]?.embedding;\nif (!vector) throw new Error(`Error embedding: ${tarifa.nombre_tecnico}`);\n\nconst punto = {\n  id: tarifa.id,\n  vector: vector,\n  payload: {\n    id_supabase: tarifa.id,\n    nombre_tecnico: tarifa.nombre_tecnico,\n    descripcion_compra: tarifa.descripcion_compra,\n    id_categoria_matriz: tarifa.id_categoria_matriz,\n    id_subcategoria_matriz: tarifa.id_subcategoria_matriz || null,\n    id_proveedor: tarifa.id_proveedor || null,\n    medida_ancho_mm: tarifa.medida_ancho_mm || 0,\n    medida_fondo_mm: tarifa.medida_fondo_mm || 0,\n    medida_alto_mm: tarifa.medida_alto_mm || 0,\n    unidad_medida: tarifa.unidad_medida || '',\n    precio_coste_unidad_medida: parseFloat(tarifa.precio_coste_unidad_medida) || 0,\n    unidad_tiempo: tarifa.unidad_tiempo || null,\n    precio_unidad_tiempo: parseFloat(tarifa.precio_unidad_tiempo) || 0,\n    aplica_coeficiente_desperdicio: tarifa.aplica_coeficiente_desperdicio || false,\n    coeficiente_desperdicio: parseFloat(tarifa.coeficiente_desperdicio) || 1.0,\n    requiere_homologacion_previa: tarifa.requiere_homologacion_previa || false,\n    incremento_urgencia_porcentaje: parseFloat(tarifa.incremento_urgencia_porcentaje) || 0,\n    activo: true,\n    coleccion: 'servicios_despiece_c',\n    fecha_indexacion: new Date().toISOString()\n  }\n};\n\nreturn [{ json: { punto, id_supabase: tarifa.id, nombre: tarifa.nombre_tecnico } }];"
      },
      "id": "ae234953-7df9-4f0a-b94a-bc155cc2e2db",
      "name": "Construir Punto Qdrant C",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1216, 848]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://qdrant.cheosdesign.info/collections/servicios_despiece_c/points?wait=true",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "qdrantApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ points: [$json.punto] }) }}",
        "options": {}
      },
      "id": "6792ada1-32b8-4c12-9873-528e63bab007",
      "name": "Qdrant Upsert C",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1424, 848],
      "credentials": {
        "qdrantApi": {
          "id": "td8SN9eZP0Os48rh",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://iqrwhycmgprkfbhuxlnn.supabase.co/rest/v1/tarifas_servicios",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{$('Construir Punto Qdrant C').first().json.id_supabase}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ indexado_qdrant: true, qdrant_point_id: $('Construir Punto Qdrant C').first().json.id_supabase }) }}",
        "options": {}
      },
      "id": "cabde1ed-1033-407d-b159-6975c8dbc0ed",
      "name": "Supabase PATCH indexado C",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1632, 848],
      "credentials": {
        "supabaseApi": {
          "id": "av5OrE4cZ9VGfbFz",
          "name": "Supabase Stands"
        }
      }
    },
    {
      "parameters": {},
      "id": "47df8eee-8711-42e8-93de-05118650dd8c",
      "name": "Volver al Loop C",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1840, 848]
    },
    {
      "parameters": {
        "jsCode": "// Verificar si el flujo viene del IF (datos vacíos) o del loop\nconst inputItem = $input.first().json;\nconst fromIf = inputItem.hasData === false || inputItem._isEmpty;\n\nlet total = 0;\nlet mensaje = '';\n\nif (fromIf) {\n  // Caso: no había datos\n  total = 0;\n  mensaje = 'No hay tarifas activas en catálogo C para sincronizar.';\n} else {\n  // Caso: se procesaron datos\n  try {\n    total = $('Split Tarifas').all().length;\n  } catch {\n    total = 0;\n  }\n  mensaje = `Sincronización completada: ${total} tarifas de despiece indexadas en Qdrant`;\n}\n\nreturn [{\n  json: {\n    success: true,\n    coleccion: 'servicios_despiece_c',\n    tarifas_indexadas: total,\n    elementos_indexados: total,\n    mensaje: mensaje,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "11dd310b-cbae-4ae3-a6fd-28e888cad718",
      "name": "Resumen Final C",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [576, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "e9b7b3a5-5659-4479-905f-d6a237159eb1",
      "name": "Respond Webhook C",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [752, 520]
    }
  ],
  "connections": {
    "Webhook Sync C": {
      "main": [
        [
          {
            "node": "Crear Colección C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Colección C": {
      "main": [
        [
          {
            "node": "Supabase GET Catálogo C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase GET Catálogo C": {
      "main": [
        [
          {
            "node": "IF Datos Vacíos C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Datos Vacíos C": {
      "main": [
        [
          {
            "node": "Split Tarifas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resumen Final C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Tarifas": {
      "main": [
        [
          {
            "node": "Loop Tarifas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Tarifas": {
      "main": [
        [
          {
            "node": "Resumen Final C",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Construir Texto Embed C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Texto Embed C": {
      "main": [
        [
          {
            "node": "OpenAI Embedding C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embedding C": {
      "main": [
        [
          {
            "node": "Construir Punto Qdrant C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Punto Qdrant C": {
      "main": [
        [
          {
            "node": "Qdrant Upsert C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Upsert C": {
      "main": [
        [
          {
            "node": "Supabase PATCH indexado C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase PATCH indexado C": {
      "main": [
        [
          {
            "node": "Volver al Loop C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Volver al Loop C": {
      "main": [
        [
          {
            "node": "Loop Tarifas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen Final C": {
      "main": [
        [
          {
            "node": "Respond Webhook C",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "13031a7f8278891f0885fdb5e98e31adeb0766c6b92c822b393433419b9dbfcd"
  }
}
